
.app{
  display: flex;
  justify-content: space-evenly;

}
.app_lift{
  flex: 0.9;
}

.card_display{
  display: flex;
  justify-content: space-between !important;
}

@media(max-width:990px){
  .app{
    flex-direction: column;
  }
}